<h1>Specifications</h1>

<div class='col-md-8 col-md-offset-2'>
  <h4>This application was made with Ruby v2.3.0 and Rails v4.2.6</h4>
    <p>The following specs were applied:<p>
      <ul>
        <li>Users can sign up, login and logout complete with validations such as:</li>
          <ul>
            <li>Email regex and email uniqueness</li>
            <li>First name and last name presence, maximum length: 50 characters each</li>
            <li>Password and password confirmation, minimum length: 6 characters</li>
          </ul>
          <li>Users can update their own user information</li>
          <li>Users can add an avatar</li>
          <li>Users can create posts, title of posts and upload a picture</li>
          <li>Post validations include:</li>
            <ul>
              <li>Maximum title length</li>
              <li>Maximum post length</li>
              <li>Maximum image size</li>
            </ul>
          <li>Automated picture reformatting with Carrierwave and image validation via front end JavaScript and back end Ruby on Rails</li>
          <li>Users can follow and unfollow other users</li>
          <li>Users can see the followers of other users and see who follows them</li>
          <li>Pagination for list of users and list of posts</li>
          <li>User Home Page complete with custom post feed of all users he/she follows</li>
          <li>Users are prohibited from deleting any posts but their own</li>
          <li>Each post is outfitted with a timestamp</li>
          <li>Database made with PostgreSQL</li>
      </ul>
      <h4>Questions? Click the contact link in footer.     --Eric Goetschel</h4>
</div>
