
<div class="center jumbotron">
  <h1>Welcome to the Secret App</h1>



  <%= link_to "Sign up now!", 'users/new', class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("secret.jpg", alt: "Secrets logo"),
            'http://rubyonrails.org/' %>
