

<br>
    <br>
<h2>Welcome to the secrets page!</h2>

<%= link_to image_tag("secret.jpg", alt: "Secrets logo"),
            'http://rubyonrails.org/' %>
            <br>
  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
