<footer class="footer">
  <small>

    Here is a funny website: <a href="http://www.metalsucks.net/">Metal Sucks.</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.bbc.com/news">News</a></li>
    </ul>
  </nav>
</footer>
